<div>
  <h1>Mi Hoja de Vida</h1>
  <h2>Datos Personales</h2>
  <ul>
    <li>Nombre: Jorge Vera</li>
    <li>Edad: 23 años</li>
    <li>Correo Electrónico: Jorge.veraz@ug.edu.ec</li>
    <li>Teléfono: 0962592610</li>
  </ul>
  <h2>Experiencia Laboral</h2>
  <h3>Corporacion el Rosado</h3>
  <p>Cargo: Asistente de almacen</p>
  <p>Fecha de inicio: noviembre del 2022</p>
  <p>Fecha de fin: diciembre del 2022</p>
  <p>En este puesto desarrolle las actividades de asistente de almacen polifuncinal tales como caja, perchado, limpieza etc.</p>
  <h3>Taller  Yolit</h3>
  <p>Cargo: Ayudante de mecanico</p>
  <p>Fecha de inicio: noviembre del 2020</p>
  <p>Fecha de fin: septiembre del 2021 </p>
  <p>Descripción: En este puesto desarrolle las actividades de ayudante de mecanico, realizaba reparaciones y me encargaba de la limpieza del taller</p>
  <h2>Educacion</h2>
  <ul>
    <li>Título: Ingenieria de software</li>
    <li>Institución: Universidad de Guayaquil</li>
    <li>Fecha de graduación: 2025</li>
  </ul>
</div>
